*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Backend
decibel-web/server/venv
decibel-web/server/__pycache__
decibel-web/server/users.db
decibel-web/server/oauth.db
.env

decibel-web/server/.venv
